$bookedColor : #ea6153;

.selected-booking{
	background:yellow !important;
}

.bookingInfo-start, .bookingInfo-end{
	display: inline-block;
	position: absolute;
	font-size: 12px;
	text-transform: uppercase;
	background: #000;
	border-radius: 3px;
	height: 40px;
	right: 55px;
	bottom: 0;
	line-height: 40px;
	padding: 0 10px;
	color: #fff;
	z-index: 20;

	&:after{
		content: "";
		display: block;
		position: absolute;
		border: solid 5px transparent;
		border-left-color: #000;
		bottom: 18.5px;
		right: -10px;
	}
}

.bookingInfo-end{
	left: 55px;
	right: auto;

	&:after{
		border: solid 5px transparent;
		border-right-color: #000;
		left: -10px;
		right: auto;
	}
}

.ui-datepicker-group{
	border-radius: 3px;
	/*overflow: hidden;*/
	box-shadow: inset 0 0 0 2px #333;
	margin-bottom: 10px;
}

.ui-datepicker,
.ui-datepicker table,
.ui-datepicker tr,
.ui-datepicker td,
.ui-datepicker th {
	width: auto !important;
	margin: 0;
	padding: 0;
	border: none;
	font-family: 'Montserrat', sans-serif;
	border-spacing: 0;
	position: relative;
}

.ui-datepicker{
	white-space: nowrap;
	overflow: hidden;
}

.ui-datepicker-prev, .ui-datepicker-next{
	position: absolute !important;
}

.ui-datepicker-group{
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
}

.ui-datepicker-header{
	text-align: center;
	background: #444;
	padding: 10px 0;
	color: #fff;
	text-transform: uppercase;
	border-radius: 3px 3px 0 0;
}

.ui-datepicker-group th{
	background: #333;
	color: #fff;
	padding: 10px 0;
}

.ui-datepicker-group td{
	height: 40px;
	width: 40px !important;
	margin: 2px;
	text-align: center;
	cursor: pointer;
}

td:not(.ui-state-disabled){
	border-radius: 3px;
	color: #000;
	/*background: $bookedColor;
	color: #fff;*/
	transition:all 0.3s;
}

td:not(.ui-state-disabled):hover{
	background: #fff;
	box-shadow: 0 0 2px rgba(0,0,0,.2), 0 2px 2px rgba(0,0,0,.4);
}

td:not(.ui-state-disabled):hover:after, td:not(.ui-state-disabled):hover:before{
	opacity: 0;
}

td.booked{
	position: relative;
}

td.booked:not(.end-booking):not(.start-booking):not(.ui-state-disabled){
	cursor: default;
	background: none;
}

td.booked:not(.end-booking):not(.start-booking):not(.ui-state-disabled) a{
	color: #b43;
	cursor: default;
}

td.booked:not(.end-booking):not(.start-booking):not(.ui-state-disabled):after{
	content: "";
	position: absolute;
	z-index: -1;
	top: 7px;
	bottom: 5px;
	left: 0;
	width: 100%;
	background: $bookedColor;
}

td.booked.end-booking.start-booking a{
	color: #ccc;
	position: relative;
	z-index: -10;
}

td.booked:not(.end-booking):not(.start-booking):not(.ui-state-disabled):hover, td.booked.end-booking.start-booking:hover{
	box-shadow: none;
	cursor: default;
}

td.booked.end-booking.start-booking:hover a{
	cursor: default;
}

td.booked:not(.end-booking):not(.start-booking):not(.ui-state-disabled):hover:after, td.booked.end-booking.start-booking:hover:after, td.booked.end-booking.start-booking:hover:before{
	opacity: 1;
}

td.start-booking{
	position: relative;
	background: none;
}

td.start-booking:before{
	content: "";
	position: absolute;
	z-index: -1;
	top: 7px;
	right: 0px;
	border: solid 14px transparent;
	border-bottom-color: $bookedColor;
	border-right-color: $bookedColor;
	transition:opacity 0.1s;
}

td.end-booking{
	position: relative;
	overflow: hidden;
	background: none;
}

td.end-booking:after{
	content: "";
	position: absolute;
	z-index: -1;
	top: 7px;
	left: 0px;
	border: solid 14px transparent;
	border-top-color: $bookedColor;
	border-left-color: $bookedColor;
	transition:opacity 0.1s;
}


.ui-datepicker-group td a{
	color: #000;
	text-decoration: none;
}

.ui-state-disabled{
	cursor: default !important;
	color: #ccc;
	position: relative;
}

.ui-state-disabled.continued span, .ui-state-disabled.previously span{
	display: none;
}

.ui-state-disabled.continued:before{
	content: "";
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 5px;
	margin-top: -5px;
	background: $bookedColor;
	opacity: 1;
	transition:opacity 0.1s;
}

.ui-state-disabled.continued:after{
	content: "";
	display: block;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 20px;
	margin-top: -3.5px;
	background: $bookedColor;
}

.ui-state-disabled.previously:before{
	content: "";
	display: block;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 5px;
	margin-top: -3.5px;
	background: $bookedColor;
}

.ui-state-disabled.previously:after{
	content: "";
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 20px;
	margin-top: -5px;
	background: $bookedColor;
}

.ui-datepicker-group:last-child{
	margin-right: 0;
}

td.previously-rounded:after{
	border-radius: 3px 0 0 3px;
}

td.continued-rounded:after{
	border-radius: 0 3px 3px 0;
}