/*===============================
=            IMPORTS            =
===============================*/

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

/*-----  End of IMPORTS  ------*/



/*=================================
=            VARIABLES            =
=================================*/

$bookedColor : #ea6153;
$font : 'Montserrat', sans-serif;

$xs-device-max : 767px;

$UIColor : #FFC001;

/*-----  End of VARIABLES  ------*/


/*===============================
=            GENERAL            =
===============================*/



/*-----  End of GENERAL  ------*/




/*========================================
=            CALENDAR GENERAL            =
========================================*/

#calendar{
	text-align: center;
	font-family: $font;
	position: relative;
	display: inline-block;
	overflow: visible;
}

.ui-datepicker,
.ui-datepicker table,
.ui-datepicker tr,
.ui-datepicker td,
.ui-datepicker th {
	width: auto !important;
	margin: 0 !important;
	padding: 0;
	border: none;
	border-spacing: 0;
	position: relative;
	text-align: center !important;
}

.ui-datepicker tr{
	border: none !important;
}

.ui-datepicker tr:hover{
	background: none !important;
}

.ui-datepicker{
	//white-space: nowrap;
	overflow: visible;
	@media (max-width: $xs-device-max) {
		white-space: normal;
		overflow: hidden;
	}
}

.ui-datepicker-prev, .ui-datepicker-next{
	position: absolute !important;
}

.ui-datepicker-group{
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
	border-radius: 3px;
	box-shadow: inset 0 0 0 2px #333;
	margin-bottom: 10px;
}

.instructions{
	font-size: 12px !important;
	margin-bottom: 10px;

	.fa{
		font-size: 16px;
		position: relative;
		top: 1px;
	}

	span.case{
		display: inline-block;
		padding: 4px;
		border: solid 1px #aaa;
		background: #aaa;
		color: #fff;
		text-transform: uppercase;
		border-radius: 3px;
	}
}

	/*==========  Calendar > elements  ==========*/


	.ui-datepicker-header{
		text-align: center;
		background: #444;
		padding: 10px 0;
		color: #fff;
		text-transform: uppercase;
		border-radius: 3px 3px 0 0;
	}

	.ui-datepicker-group th{
		background: #333;
		color: #fff;
		padding: 10px 0;
	}

	.ui-datepicker-group td{
		height: 40px;
		width: 40px !important;
		margin: 2px;
		text-align: center;
		cursor: pointer;
	}

/*-----  End of CALENDAR GENERAL  ------*/



/*============================================
=            ALREADY BOOKED ITEMS            =
============================================*/

#calendar td{
	&:not(.ui-state-disabled){
		border-radius: 3px;
		color: #000;
		transition:all 0.3s;

		&:hover{
			background: #fff;
			box-shadow: 0 0 2px rgba(0,0,0,.2), 0 2px 2px rgba(0,0,0,.4);

			&:after, &:before{
				opacity: 0;
			}
		}
	}

	&.booked{
		position: relative;

		&:not(.end-booking):not(.start-booking):not(.ui-state-disabled){
			cursor: default;
			background: none;

			a{
				color: #b43;
				cursor: default;
			}

			&:after{
				content: "";
				position: absolute;
				z-index: 0;
				top: 7px;
				bottom: 5px;
				left: 0;
				width: 100%;
				background: $bookedColor;
			}

			&:hover{
				box-shadow: none;
			}

			&:hover:after{
				opacity: 1;
			}
		}

		&.end-booking.start-booking{
			a{
				color: #000;
				position: relative;
				z-index: 0;
			}

			&:hover{
				box-shadow: none;
				background: none;
				cursor: default;
				a{
					cursor: default;
				}

				&:after, &:before{
					opacity: 1;
				}
			}
		}
	}

	&.booked.end-booking.start-booking{
		&:hover:after, &:hover:before{
			opacity: 1;
		}
	}

	&.start-booking{
		position: relative;
		background: none;

		&:before{
			content: "";
			position: absolute;
			z-index: 0;
			top: 7px;
			right: 0px;
			border: solid 14px transparent;
			border-bottom-color: $bookedColor;
			border-right-color: $bookedColor;
			transition:opacity 0.1s;
		}
	}

	&.end-booking{
		position: relative;
		background: none;

		&:after{
			content: "";
			position: absolute;
			z-index: 0;
			top: 7px;
			left: 0px;
			border: solid 14px transparent;
			border-top-color: $bookedColor;
			border-left-color: $bookedColor;
			transition:opacity 0.1s;
		}
	}
}


.ui-datepicker-group td a{
	color: #000;
	text-decoration: none;
	position: relative;
	z-index: 10;
}

.ui-state-disabled{
	cursor: default !important;
	color: #ccc;
	position: relative;
}

.ui-state-disabled.continued span, .ui-state-disabled.previously span{
	display: none;
}

.ui-state-disabled.continued:before{
	content: "";
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 5px;
	margin-top: -5px;
	background: $bookedColor;
	opacity: 1;
	transition:opacity 0.1s;
}

.ui-state-disabled.continued:after{
	content: "";
	display: block;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 20px;
	margin-top: -3.5px;
	background: $bookedColor;
}

.ui-state-disabled.previously:before{
	content: "";
	display: block;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 5px;
	margin-top: -3.5px;
	background: $bookedColor;
}

.ui-state-disabled.previously:after{
	content: "";
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 20px;
	margin-top: -5px;
	background: $bookedColor;
}

.ui-datepicker-group:last-child{
	margin-right: 0;
}

td.previously-rounded:after{
	border-radius: 3px 0 0 3px;
}

td.continued-rounded:after{
	border-radius: 0 3px 3px 0;
}

/*-----  End of ALREADY BOOKED ITEMS  ------*/



.selected-booking{
	background:$UIColor !important;

	&:hover:not(.ui-state-disabled){
		background: $UIColor !important;
		box-shadow: none !important;
	}

	&.arrival{
		border-radius: 5px 0 0 0 !important;
	}

	&.departure{
		border-radius: 0 0 5px 0 !important;
	}
}


.booking-time{
	background: $UIColor;
	border-radius: 0 !important;

	&:hover:not(.ui-state-disabled){
		background: $UIColor !important;
		box-shadow: none !important;
	}

	&.ui-state-disabled{
		background: none;
	}
}

.bookingInfo-start, .bookingInfo-end{
	display: inline-block;
	position: absolute;
	font-size: 12px;
	white-space: nowrap;
	text-transform: uppercase;
	background: #000;
	border-radius: 3px;
	height: 40px;
	right: 55px;
	bottom: 0;
	line-height: 40px;
	padding: 0 10px;
	color: #fff;
	z-index: 20;

	&:after{
		content: "";
		display: block;
		position: absolute;
		border: solid 5px transparent;
		border-left-color: #000;
		bottom: 16px;
		right: -10px;
	}
}

.bookingInfo-start, .bookingInfo-end{
	span.deleteBooking{
		padding: 0 20px;
		box-sizing: border-box;
		display: inline-block;
		position: relative;
		vertical-align: top;
		color: #000;
		height: 100%;
		margin-left: -10px;
		margin-right: 10px;
		background: #222;
		border-radius: 3px 0 0 3px;
		height: 40px;
		width: 20px;

		&:before, &:after{
			content: "";
			border-radius: 2px;
			display: block;
			height: 4px;
			width: 15px;
			position: absolute;
			left: 50%;
			margin-left: -8px;
			background: #fff;
			top: 50%;
			margin-top: -2px;
		}

		&:after{
			-ms-transform: rotate(45deg); /* IE 9 */
		    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
		    transform: rotate(45deg);
		}

		&:before{
			-ms-transform: rotate(-45deg); /* IE 9 */
		    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
		    transform: rotate(-45deg);
		}

		&:hover{
			&:after, &:before{
				background: $UIColor;
			}
		}
	}

	span.deleteEnd{
		margin-left: 10px;
		margin-right: -10px;
		border-radius: 0 3px 3px 0;
	}
}

.bookingInfo-end{
	left: 55px;
	right: auto;

	&:after{
		border: solid 5px transparent;
		border-right-color: #000;
		left: -10px;
		right: auto;
	}

	&.alert{
		background: darken($bookedColor,20%);
		border-radius: 3px !important;
		margin: 0 !important;
		padding: 0 10px !important;
		&:after{
			border-right-color: darken($bookedColor,20%);
		}
	}
}


/*===========================================
=            NAV OF THE CALENDAR            =
===========================================*/

#calendar{
	nav{
		button{
			padding: 0 15px;
			font-size: 10px;
			border: none;
			background: $UIColor;
			color: #fff;
			text-transform: uppercase;
			font-weight: bold;
			font-family: $font;
			height: 39px;
			line-height: 39px;
			width: auto !important;
			outline: none;
			transition: 0 !important;
			&:hover{
				background: lighten($UIColor,20%);
			}
			&.prev{
				position: absolute;
				border-radius: 2px 0 0 0;
				top: 0;
				left: 0px;

				&:before, &:after{
					content: "";
					display: block;
					height: 4px;
					width: 12px;
					background: #fff;
					position: relative;
					right: 2px;
				}

				&:before{
					-ms-transform: rotate(-45deg); /* IE 9 */
				    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
				    transform: rotate(-45deg);
				    bottom: 1px;
				}

				&:after{
					-ms-transform: rotate(45deg); /* IE 9 */
				    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
				    transform: rotate(45deg);
				    top: 1px;
				}
			}

			&.next{
				position: absolute;
				border-radius: 0 2px 0 0;
				top: 0;
				right: 10px;

				// &:after{
				// 	content: "";
				// 	position: absolute;
				// 	height: 0;
				// 	border: solid 10px transparent;
				// 	border-left-color: $UIColor;
				// 	top: 50%;
				// 	margin-top: -10px;
				// 	right: -20px;

				// }

				&:before, &:after{
					content: "";
					display: block;
					height: 4px;
					width: 12px;
					background: #fff;
					position: relative;
					left: 2px;
				}

				&:before{
					-ms-transform: rotate(45deg); /* IE 9 */
				    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
				    transform: rotate(45deg);
				    bottom: 1px;
				}

				&:after{
					-ms-transform: rotate(-45deg); /* IE 9 */
				    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
				    transform: rotate(-45deg);
				    top: 1px;
				}
			}

			&:hover{
				cursor: pointer;
			}

			&[disabled]{
				background: rgba(255,255,255,.8);
				color: #aaa;

				&:hover{
					cursor: default;
				}
			}
		}
	}
}

/*-----  End of NAV OF THE CALENDAR  ------*/


/*=============================
=            OTHER            =
=============================*/

body{
	padding: 0;
	margin: 0;
	font-family: $font;
}

#header{
	background:$UIColor;
	text-align: center;
	padding: 30px 0;
	padding-bottom: 20px;
	margin-bottom: 40px;
	color: #fff;

	h1{
		margin-top: 0;
		margin-bottom: 0;
		span.version{
			font-size: 12px;
			color: darken($UIColor, 30%);
		}
	}

	h2{
		text-transform: none;
		font-size: 12px;
		margin-top: 0;
		margin-bottom: 30px;
	}

	nav{
		ul{
			list-style: none;
			margin: 0;
			padding: 0;
			font-size: 0;
			li{
				display: inline-block;
				vertical-align: middle;
				margin: 0 20px;
				position: relative;
				a{
					.fa{
						font-size: 30px;
					}
					color: #fff;
					transition: color 0.2s;

					&:hover{
						color: darken($UIColor, 30%);
					}
				}
			}
		}
	}
}

section{
	text-align: center;

	&#output{
		padding-top: 15px;
		margin-top: 20px;
		background: $UIColor;
		h2{
			text-align: center;
			text-transform: uppercase;
			margin: 0;
			padding: 0;
			color: #fff;
		}

		p{
			text-align: center;
			display: inline-block;
			padding: 10px;

			input{
				font-family: $font;
				text-align: center;
				padding: 15px;
				border-radius: 3px;
				border: none;
			}
		}
	}
}

hr{
	width: 100px;
	margin: 0 auto;
	border: solid 1px darken($UIColor, 10%);
	margin-bottom: 15px;
}

footer#footer{
	font-size: 12px;
	text-align: center;
	background: $UIColor;
	margin: 0;
	padding: 15px;
	color: darken($UIColor,30%);

	ul{
		padding: 0;
		margin: 0;
		list-style: none;

		li{
			&:first-child{
				margin-bottom: 5px;
			}
		}
	}

	a{
		color: darken($UIColor,30%);
		text-decoration: none;
		display: block;
		padding: 5px 0;
		transition: color 0.2s;

		&:hover{
			color: #fff;
		}
	}
}
/*-----  End of OTHER  ------*/