/*===============================
=            IMPORTS            =
===============================*/
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
/*-----  End of IMPORTS  ------*/
/*=================================
=            VARIABLES            =
=================================*/
/*-----  End of VARIABLES  ------*/
/*===============================
=            GENERAL            =
===============================*/
/*-----  End of GENERAL  ------*/
/*========================================
=            CALENDAR GENERAL            =
========================================*/
/* line 40, ../sass/style.scss */
#calendar {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  position: relative;
  display: inline-block;
  overflow: visible;
}

/* line 48, ../sass/style.scss */
.ui-datepicker,
.ui-datepicker table,
.ui-datepicker tr,
.ui-datepicker td,
.ui-datepicker th {
  width: auto !important;
  margin: 0;
  padding: 0;
  border: none;
  border-spacing: 0;
  position: relative;
}

/* line 61, ../sass/style.scss */
.ui-datepicker {
  white-space: nowrap;
  overflow: visible;
}
@media (max-width: 767px) {
  /* line 61, ../sass/style.scss */
  .ui-datepicker {
    white-space: normal;
    overflow: hidden;
  }
}

/* line 70, ../sass/style.scss */
.ui-datepicker-prev, .ui-datepicker-next {
  position: absolute !important;
}

/* line 74, ../sass/style.scss */
.ui-datepicker-group {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  border-radius: 3px;
  box-shadow: inset 0 0 0 2px #333;
  margin-bottom: 10px;
}

/*==========  Calendar > elements  ==========*/
/* line 86, ../sass/style.scss */
.ui-datepicker-header {
  text-align: center;
  background: #444;
  padding: 10px 0;
  color: #fff;
  text-transform: uppercase;
  border-radius: 3px 3px 0 0;
}

/* line 95, ../sass/style.scss */
.ui-datepicker-group th {
  background: #333;
  color: #fff;
  padding: 10px 0;
}

/* line 101, ../sass/style.scss */
.ui-datepicker-group td {
  height: 40px;
  width: 40px !important;
  margin: 2px;
  text-align: center;
  cursor: pointer;
}

/*-----  End of CALENDAR GENERAL  ------*/
/*============================================
=            ALREADY BOOKED ITEMS            =
============================================*/
/* line 118, ../sass/style.scss */
#calendar td:not(.ui-state-disabled) {
  border-radius: 3px;
  color: #000;
  transition: all 0.3s;
}
/* line 123, ../sass/style.scss */
#calendar td:not(.ui-state-disabled):hover {
  background: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.4);
}
/* line 127, ../sass/style.scss */
#calendar td:not(.ui-state-disabled):hover:after, #calendar td:not(.ui-state-disabled):hover:before {
  opacity: 0;
}
/* line 133, ../sass/style.scss */
#calendar td.booked {
  position: relative;
}
/* line 136, ../sass/style.scss */
#calendar td.booked:not(.end-booking):not(.start-booking):not(.ui-state-disabled) {
  cursor: default;
  background: none;
}
/* line 140, ../sass/style.scss */
#calendar td.booked:not(.end-booking):not(.start-booking):not(.ui-state-disabled) a {
  color: #b43;
  cursor: default;
}
/* line 145, ../sass/style.scss */
#calendar td.booked:not(.end-booking):not(.start-booking):not(.ui-state-disabled):after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 7px;
  bottom: 5px;
  left: 0;
  width: 100%;
  background: #ea6153;
}
/* line 156, ../sass/style.scss */
#calendar td.booked:not(.end-booking):not(.start-booking):not(.ui-state-disabled):hover {
  box-shadow: none;
}
/* line 160, ../sass/style.scss */
#calendar td.booked:not(.end-booking):not(.start-booking):not(.ui-state-disabled):hover:after {
  opacity: 1;
}
/* line 166, ../sass/style.scss */
#calendar td.booked.end-booking.start-booking a {
  color: #ccc;
  position: relative;
  z-index: -10;
}
/* line 172, ../sass/style.scss */
#calendar td.booked.end-booking.start-booking:hover {
  box-shadow: none;
  background: none;
  cursor: default;
}
/* line 176, ../sass/style.scss */
#calendar td.booked.end-booking.start-booking:hover a {
  cursor: default;
}
/* line 180, ../sass/style.scss */
#calendar td.booked.end-booking.start-booking:hover:after, #calendar td.booked.end-booking.start-booking:hover:before {
  opacity: 1;
}
/* line 188, ../sass/style.scss */
#calendar td.booked.end-booking.start-booking:hover:after, #calendar td.booked.end-booking.start-booking:hover:before {
  opacity: 1;
}
/* line 193, ../sass/style.scss */
#calendar td.start-booking {
  position: relative;
  background: none;
}
/* line 197, ../sass/style.scss */
#calendar td.start-booking:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 7px;
  right: 0px;
  border: solid 14px transparent;
  border-bottom-color: #ea6153;
  border-right-color: #ea6153;
  transition: opacity 0.1s;
}
/* line 210, ../sass/style.scss */
#calendar td.end-booking {
  position: relative;
  background: none;
}
/* line 214, ../sass/style.scss */
#calendar td.end-booking:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 7px;
  left: 0px;
  border: solid 14px transparent;
  border-top-color: #ea6153;
  border-left-color: #ea6153;
  transition: opacity 0.1s;
}

/* line 229, ../sass/style.scss */
.ui-datepicker-group td a {
  color: #000;
  text-decoration: none;
}

/* line 234, ../sass/style.scss */
.ui-state-disabled {
  cursor: default !important;
  color: #ccc;
  position: relative;
}

/* line 240, ../sass/style.scss */
.ui-state-disabled.continued span, .ui-state-disabled.previously span {
  display: none;
}

/* line 244, ../sass/style.scss */
.ui-state-disabled.continued:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 5px;
  margin-top: -5px;
  background: #ea6153;
  opacity: 1;
  transition: opacity 0.1s;
}

/* line 259, ../sass/style.scss */
.ui-state-disabled.continued:after {
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 20px;
  margin-top: -3.5px;
  background: #ea6153;
}

/* line 272, ../sass/style.scss */
.ui-state-disabled.previously:before {
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 5px;
  margin-top: -3.5px;
  background: #ea6153;
}

/* line 285, ../sass/style.scss */
.ui-state-disabled.previously:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 20px;
  margin-top: -5px;
  background: #ea6153;
}

/* line 298, ../sass/style.scss */
.ui-datepicker-group:last-child {
  margin-right: 0;
}

/* line 302, ../sass/style.scss */
td.previously-rounded:after {
  border-radius: 3px 0 0 3px;
}

/* line 306, ../sass/style.scss */
td.continued-rounded:after {
  border-radius: 0 3px 3px 0;
}

/*-----  End of ALREADY BOOKED ITEMS  ------*/
/* line 314, ../sass/style.scss */
.selected-booking {
  background: #FFC001 !important;
}
/* line 317, ../sass/style.scss */
.selected-booking:hover:not(.ui-state-disabled) {
  background: #FFC001 !important;
  box-shadow: none !important;
}

/* line 324, ../sass/style.scss */
.booking-time {
  background: #FFC001;
  border-radius: 0 !important;
}
/* line 328, ../sass/style.scss */
.booking-time:hover:not(.ui-state-disabled) {
  background: #FFC001 !important;
  box-shadow: none !important;
}
/* line 333, ../sass/style.scss */
.booking-time.ui-state-disabled {
  background: none;
}

/* line 338, ../sass/style.scss */
.bookingInfo-start, .bookingInfo-end {
  display: inline-block;
  position: absolute;
  font-size: 12px;
  text-transform: uppercase;
  background: #000;
  border-radius: 3px;
  height: 40px;
  right: 55px;
  bottom: 0;
  line-height: 40px;
  padding: 0 10px;
  color: #fff;
  z-index: 20;
}
/* line 353, ../sass/style.scss */
.bookingInfo-start:after, .bookingInfo-end:after {
  content: "";
  display: block;
  position: absolute;
  border: solid 5px transparent;
  border-left-color: #000;
  bottom: 16px;
  right: -10px;
}

/* line 364, ../sass/style.scss */
.bookingInfo-end {
  left: 55px;
  right: auto;
}
/* line 368, ../sass/style.scss */
.bookingInfo-end:after {
  border: solid 5px transparent;
  border-right-color: #000;
  left: -10px;
  right: auto;
}
/* line 375, ../sass/style.scss */
.bookingInfo-end.alert {
  background: #c02717;
}
/* line 377, ../sass/style.scss */
.bookingInfo-end.alert:after {
  border-right-color: #c02717;
}

/*===========================================
=            NAV OF THE CALENDAR            =
===========================================*/
/* line 390, ../sass/style.scss */
#calendar nav button {
  padding: 15px;
  border: none;
  background: #FFC001;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  border-radius: 3px;
  top: 50%;
  margin-top: -20px;
}
/* line 401, ../sass/style.scss */
#calendar nav button.prev {
  position: absolute;
  left: -120px;
}
/* line 406, ../sass/style.scss */
#calendar nav button.next {
  position: absolute;
  right: -75px;
}
/* line 411, ../sass/style.scss */
#calendar nav button:hover {
  cursor: pointer;
}
/* line 415, ../sass/style.scss */
#calendar nav button[disabled] {
  background: #ccc;
  color: #aaa;
}
/* line 419, ../sass/style.scss */
#calendar nav button[disabled]:hover {
  cursor: default;
}

/*-----  End of NAV OF THE CALENDAR  ------*/
/*=============================
=            OTHER            =
=============================*/
/* line 434, ../sass/style.scss */
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

/* line 440, ../sass/style.scss */
#header {
  background: #FFC001;
  text-align: center;
  padding: 30px 0;
  padding-bottom: 20px;
  margin-bottom: 40px;
  color: #fff;
}
/* line 448, ../sass/style.scss */
#header h1 {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 451, ../sass/style.scss */
#header h1 span.version {
  font-size: 12px;
  color: #674d00;
}
/* line 457, ../sass/style.scss */
#header h2 {
  text-transform: none;
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 30px;
}
/* line 465, ../sass/style.scss */
#header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}
/* line 470, ../sass/style.scss */
#header nav ul li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 20px;
  position: relative;
}
/* line 475, ../sass/style.scss */
#header nav ul li a {
  color: #fff;
  transition: color 0.2s;
}
/* line 476, ../sass/style.scss */
#header nav ul li a .fa {
  font-size: 30px;
}
/* line 482, ../sass/style.scss */
#header nav ul li a:hover {
  color: #674d00;
}

/* line 491, ../sass/style.scss */
section {
  text-align: center;
}
/* line 494, ../sass/style.scss */
section#output {
  padding-top: 15px;
  margin-top: 20px;
  background: #FFC001;
}
/* line 498, ../sass/style.scss */
section#output h2 {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  color: #fff;
}
/* line 506, ../sass/style.scss */
section#output p {
  text-align: center;
  display: inline-block;
  padding: 10px;
}
/* line 511, ../sass/style.scss */
section#output p input {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding: 15px;
  border-radius: 3px;
  border: none;
}

/*-----  End of OTHER  ------*/
